#home-background-sketch {
    z-index: -9999;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
}

#first-section {
    margin-top: 970px;
}

.featured-works.section {
    margin-bottom: 3rem;       
}

@media (max-width: 576px) {
    .featured-works.section {
        margin-bottom: 2rem;  
    }
}