<footer style="display: flex; justify-content: center; z-index: 5;">
    <div class="content-constraint" style="border-top: 1px solid rgba(0, 0, 0, .1);">
        <!-- grid -->
        <div class="container">
            <!-- info -->
            <div class="info">
                <a class="logo" href="/">Kenneth Wong</a>
                <div class="content" style="font-weight: 300; margin: .5rem 0 0; font-size: 14px;">
                    Website designed and created by Kenneth Wong.<br>
                    © 2022 Kenneth Wong. All Right Reserved.
                    <div style="width: 100%; display: flex; justify-content: left; margin-top: .5rem;">
                        <a href="/contact" style="font-size: 14px; font-weight: 300;">Contact</a>
                        <span style="margin: 0 .5rem; font-weight: 300; color: rgba(0, 0, 0, .6);">|</span>
                        <a href="/terms-and-conditions" style="font-size: 14px; font-weight: 300;">Terms</a>
                        <span style="margin: 0 .5rem; font-weight: 300; color: rgba(0, 0, 0, .6);">|</span>
                        <a href="/privacy-policy" style="font-size: 14px; font-weight: 300;">Privacy Policy</a>
                    </div>
                </div>
                <div class="shortcut">
                    <a href="https://www.linkedin.com/in/kai-fung-wong-50b7691b4/" target="_blank"><div style="float: left; margin-right: .7rem;">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </div></a>
                    <a href="https://github.com/kwwong1022" target="_blank"><div style="float: left; margin-right: .7rem;">
                        <i class="fab fa-github-square fa-lg"></i>
                    </div></a>
                    <a href="mailto:kaifwong1022@gmail.com"><div style="float: left;">
                        <i class="fas fa-envelope-square fa-lg"></i>
                    </div></a>
                </div>
            </div>

            <!-- portal -->
            <div class="portal">
                <div class="about">
                    <ul>
                        About
                        <li><a href="/about">About Me</a></li>
                        <!-- <li><a href="/blog">Blog</a></li> -->
                        <!-- <li><a href="/about#skills">Skills</a></li>
                        <li><a href="/about#education">Education</a></li> -->
                        <li><a href="/assets/about/Kai_Fung_Wong_-_Front-end_Developer.pdf" download>CV</a></li>
                    </ul>
                </div>
                <div class="works">
                    <ul>
                        Works
                        <li><a href="/works?work=mobile-app">Mobile</a></li>
                        <li><a href="/works?work=website">Website</a></li>
                        <li><a href="/works?work=creative-coding">Artwork</a></li>
                        <li><a href="/works">All</a></li>
                    </ul>
                </div>
                <div class="contact">
                    <ul>
                        Contact
                        <li><a href="/services" style="display: none;">Services</a></li>
                        <li><a href="mailto:kaifwong1022@gmail.com">Email</a></li>
                    </ul>
                </div>
            </div>

            <!-- copyright -->
            <div class="copyright">
                Website designed and created by Kenneth Wong.<br>
                © 2022 Kenneth Wong. All Right Reserved.
                <div style="width: 100%; display: flex; justify-content: center; margin-top: .5rem;">
                    <a href="/contact" style="font-size: 14px; font-weight: 300;">Contact</a>
                    <span style="margin: 0 .5rem; font-weight: 300; color: rgba(0, 0, 0, .6);">|</span>
                    <a href="/terms-and-conditions" style="font-size: 14px; font-weight: 300;">Terms</a>
                    <span style="margin: 0 .5rem; font-weight: 300; color: rgba(0, 0, 0, .6);">|</span>
                    <a href="/privacy-policy" style="font-size: 14px; font-weight: 300;">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src= "/components/common/style.js"></script>
<script src= "/components/navbar/navbar.js"></script>