<header>
    <div class="content-constraint">
        <div class="logo"><a href="/">Kenneth Wong</a></div>

        <div class="navbar-toggler"><i class="fas fa-bars btn-show-menu"></i><i class="fas fa-times btn-close-menu disabled"></i></div>

        <nav class="navbar disabled">
            <ul>
                <li><a class="cat home" href="/">Home</a></li>
                <li><a class="cat about" href="/about">About</a></li>
                <li><a class="cat works" style="cursor: pointer;">Works <i class="fas fa-angle-down fa-xs"></i></a>
                    <ul>
                        <li><a class="sub-cat first" href="/works?work=mobile-app">Mobile App</a></li>
                        <li><a class="sub-cat" href="/works?work=website">Website</a></li>
                        <li><a class="sub-cat" href="/works?work=graphic">Graphic</a></li>
                        <li><a class="sub-cat" style="cursor: pointer;">Artwork <i class="fas fa-angle-down fa-xs"></i></a>
                            <ul>
                                <li><a class="sub-sub-cat first" href="/works?work=creative-coding">Creative Coding</a></li>
                                <li><a class="sub-sub-cat" href="/works?work=3d-modelling">3D Modelling</a></li>
                                <li><a class="sub-sub-cat" href="/works?work=drawing">Drawing</a></li>
                                <li><a class="sub-sub-cat last" href="/works?work=arduino">Arduino</a></li>
                            </ul>
                        </li>
                        <li><a class="sub-cat" href="/works?work=tool">Tool</a></li>
                        <li><a class="sub-cat last" href="/works">All</a></li>
                    </ul>
                </li>
                <li><a class="cat blog" href="/blog">Blog</a></li>
                <li><a class="cat contact" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>