<div class="section cv">
    <div class="left-section">
        <div style="width: 100%; max-width: 270px; margin-left: auto;">
            <div style="width: 100%;">
                <!-- kw-icon -->
                <div style="width: 180px; height: 180px;">
                    <img src="/assets/kw-icon.jpeg" style="width: 100%; border-radius: 5px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.1); ">
                </div>

                <!-- details -->
                <div style="margin: 3rem 0 0;">
                    <h2 style="font-size: 1.4rem; font-weight: 400;">Details</h2>
                    <div style=" margin: 1rem 0 0;">
                        <span style="font-weight: 500;">City:</span><br>
                        <span style="line-height: 1.5rem;">Hong Kong</span><br><br>
                        <span style="font-weight: 500;">Phone:</span><br>
                        <span style="line-height: 1.5rem;">(+852) 9347 8968</span><br><br>
                        <span style="font-weight: 500;">Email:</span><br>
                        <a href="mailto:kaifwong1022@gmail.com" style="line-height: 1.5rem;">kaifwong1022@gmail.com</a><br><br>
                    </div>
                </div>

                <!-- links -->
                <div style="margin: 3rem 0 0;">
                    <h2 style="font-size: 1.4rem; font-weight: 400;">Links</h2>
                    <div style=" margin: 1rem 0 0;">
                        <a href="https://github.com/kwwong1022" style="line-height: 2rem;">GitHub</a><br>
                        <a href="https://www.linkedin.com/in/kai-fung-wong-50b7691b4" style="line-height: 2rem;">Linkedin</a><br>
                        <a href="https://www.credly.com/badges/1a743e74-6b35-424f-a09b-beff3fca468c/linked_in_profile" style="line-height: 2rem;">AWS Cloud Practitioner</a><br>
                        <a href="/get-file/udemy-certification" style="line-height: 2rem;">Udemy Certification</a>
                    </div>
                </div>

                <!-- skills-->
                <div style="margin: 3rem 0 0;">
                    <h2 style="font-size: 1.4rem; font-weight: 400;">Skills</h2>
                    <div style=" margin: 1rem 0 0;">
                        <span style="line-height: 2rem;">HTML/ CSS/ JS</span><br>
                        <span style="line-height: 2rem;">Node.js</span><br>
                        <span style="line-height: 2rem;">Express.js</span><br>
                        <span style="line-height: 2rem;">React.js</span><br>
                        <span style="line-height: 2rem;">Next.js</span><br>
                        <span style="line-height: 2rem;">Git</span><br>
                        <span style="line-height: 2rem;">Java</span><br>
                        <span style="line-height: 2rem;">Python</span><br>
                        <span style="line-height: 2rem;">AWS</span><br>
                        <span style="line-height: 2rem;">Android Studio</span>
                    </div>
                </div>

                <!-- languages -->
                <div style="margin: 3rem 0 0;">
                    <h2 style="font-size: 1.4rem; font-weight: 400;">Langages</h2>
                    <div style=" margin: 1rem 0 0;">
                        <span style="line-height: 2rem;">Chinese</span><br>
                        <span style="line-height: 2rem;">English</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="right-section">
        <div style="padding-left: 4rem; max-width: 650px; margin-right: auto;">
            <div style="width: 100%;">
                <!-- title: name + position -->
                <div style="margin: 1rem 0 1rem;">
                    <h1 style="font-size: 2rem; font-weight: 400;">Kai Fung Wong</h1>
                    <h3 style="font-size: 1rem; font-weight: 400; margin-top: .5rem;">Front-end Developer</h3>
                </div>

                <div style="margin: 2rem 0 3.5rem;">
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <p>Kenneth is dedicated to his pursuits in front-end development and has learned various mainstream frameworks implemented them into projects during his studies.</p><br>
                            <p>Kenneth has also actively contributed to the development of enterprise companies, leveraging his expertise to enhance the app's functionality and user experience.</p><br>
                        </div>
                    </div>
                </div>
                
                <!-- profile -->
                <div style="margin: 1rem 0 0;">
                    <h1 style="font-size: 1.4rem; font-weight: 400;">Profile</h1>
                
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500;">Programming:</span><br>
                            <span style="line-height: 1.5rem;">Java, Javascript, NodeJS, Python, Bash</span>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500;">Analytics:</span><br>
                            <span style="line-height: 1.5rem;">Excel/VBA, Tableau, Google Analytics</span>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500;">Web/Mobile:</span><br>
                        <span style="line-height: 1.5rem;">HTML/CSS/JS, React, Next, Android App, WeChat Mini-program</span>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500;">Cloud/Server:</span><br>
                        <span style="line-height: 1.5rem;">Amazon Web Service, Alibaba Cloud, Express</span>
                        </div>
                    </div>
                </div>

                <!-- work experience -->
                <div style="margin: 3rem 0 0;">
                    <h1 style="font-size: 1.4rem; font-weight: 400;">Work Experience</h1>
                
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">Deloitte - Digital - Customer & Marketing - Consulting</span><br><br>
                            <span style="font-weight: 400; font-size: 1rem; padding: 0 0 0 1rem;">Analyst</span><br>
                            <span style="line-height: 2rem; font-size: .95rem; padding: 0 0 0 1rem;">Jan 2023 - Feb 2024</span><br><br>

                            <span style="font-weight: 400; font-size: 1rem; padding: 0 0 0 1rem;">Intern</span><br>
                            <span style="line-height: 2rem; font-size: .95rem; padding: 0 0 0 1rem;">June 2022 - Dec 2022</span><br>
                        </div>
                    </div>
                    
                </div>

                <!-- certifications -->
                <div style="margin: 3rem 0 0;">
                    <h1 style="font-size: 1.4rem; font-weight: 400;">Certifications</h1>
                
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">AWS Certified Cloud Practitioner</span><br>
                            <span style="line-height: 2rem;">Issued 25 Apr, 2024</span><br>
                            <span style="line-height: 2rem;"><a href="https://www.credly.com/badges/1a743e74-6b35-424f-a09b-beff3fca468c/linked_in_profile" style="color: rgba(0, 0, 0, 0.6);">Show Credential</a></span>
                        </div>
                    </div>
                </div>

                <!-- education -->
                <div style="margin: 3rem 0 0;">
                    <h1 style="font-size: 1.4rem; font-weight: 400;">Education</h1>
                
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">City University of Hong Kong, Bachelor of Arts and Science in New Media (BAS)</span><br>
                            <span style="line-height: 2rem;">Sept 2020 - Oct 2022</span><br>
                            <span style="line-height: 1rem; color: rgba(0, 0, 0, 0.6);">First class honours,<br>With awards dean's list (semester B 2020 - 2021, semester A 2021 - 2022)</span>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">UOW College, Associate of Science in Creative and Interactive Media Production, Intermedia/Multimedia</span><br>
                            <span style="line-height: 2rem;">Sept 2018 - July 2020</span><br>
                            <span style="line-height: 2rem; color: rgba(0, 0, 0, 0.6);">With distinction</span>
                        </div>
                    </div>
                </div>

                <!-- project experience -->
                <div style="margin: 3rem 0 0;">
                    <h1 style="font-size: 1.4rem; font-weight: 400;">Project Experience</h1>
                
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">Website Application - Velo Sync</span><br>
                            <span style="line-height: 2rem;">Feb 2023 - Present</span><br>
                            <span style="line-height: 2rem;">GitHub Repository: <a href="https://github.com/kwwong1022?tab=repositories" style="color: rgba(0, 0, 0, 0.6);">GitHub Repository</a> | <a href="https://github.com/kwwong1022/velo-sync-lambda-app" style="color: rgba(0, 0, 0, 0.6);">API</a> | <a href="https://github.com/kwwong1022/velo-sync-video-processor" style="color: rgba(0, 0, 0, 0.6);">Video Processing</a></span>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">Mobile Application - Velo Race</span><br>
                            <span style="line-height: 2rem;">Oct 2021 - Nov 2021</span><br>
                            <span style="line-height: 2rem;"><a href="https://github.com/kwwong1022/VeloRace" style="color: rgba(0, 0, 0, 0.6);">GitHub Repository</a></span>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">Mobile Application - Post Note</span><br>
                            <span style="line-height: 2rem;">Sept 2021 - Oct 2021</span><br>
                            <span style="line-height: 2rem;"><a href="https://github.com/kwwong1022/PostNote" style="color: rgba(0, 0, 0, 0.6);">GitHub Repository</a></span>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">Global Game Jam - 2020/21</span><br>
                            <span style="line-height: 2rem;">Jan 2021 - Jan 2021</span><br>
                            <span style="line-height: 2rem;"><a href="https://globalgamejam.org/2021/games/discover-undiscovered-6" style="color: rgba(0, 0, 0, 0.6);">Project Description</a> <span style="color: rgba(0, 0, 0, 0.6);">|</span> <a href="https://www.youtube.com/watch?v=1GbyIM7Vdnc" style="color: rgba(0, 0, 0, 0.6);">Youtube</a></span>
                        </div>
                    </div>
                </div>

                <!-- scholarship -->
                <div style="margin: 3rem 0 0;">
                    <h1 style="font-size: 1.4rem; font-weight: 400;">Scholarship</h1>
                
                    <div style="display: flex; justify-content: left; width: 100%; margin-top: 1rem;">
                        <div style="min-width: 1px; margin-right: 1rem; background-color: black;"></div>
                        <div>
                            <span style="font-weight: 500; font-size: 1.1rem;">CityU Scholarship 2021/22</span><br>
                            <span style="line-height: 2rem;">Feb 2022</span><br>
                        </div>
                    </div>
                </div>
                <br><br><br><br><br><br>
                
            </div>
        </div>
    </div>
</div>

<!-- btn: show cv -->
<a href="#" id="btn-show-cv" style="position: fixed; top: 88vh; left: 6vh; cursor: pointer; z-index: 9999;">
    <div style="cursor: pointer; width: 55px; height: 55px; border-radius: 50%; text-align: center; box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); background-color: rgb(40, 40, 40); padding-top: .4rem;">
        <span style="font-size: .95rem; font-weight: 400; letter-spacing: 1px; text-align: center;">
            <i class="fa fa-user" style="color: white;"></i><br>
            <span id="cv-btn-text" style="color: white;">cv</span>
        </span>
    </div>
</a>