<div class="filter fade-in">
    <div class="cat-item all active">All</div>
    <div class="cat-item study">Study</div>
    <div class="cat-item tutorial">Tutorial</div>
    <div class="cat-item work">Work</div>
    <div class="cat-item document">Document</div>
</div>
<div class="line-break" style="border-bottom: rgba(0, 0, 0, .05) solid 1px;"></div>