<div class="filter fade-in">
    <div class="cat-item all active">All</div>
    <div class="cat-item mobile-app">Blog</div>
    <div class="cat-item website">Document</div>
    <div class="cat-item graphic">Demo</div>
</div>
<div class="line-break" style="border-bottom: rgba(0, 0, 0, .05) solid 1px;"></div>