<div class="home-banner">
    <!-- title -->
    <div class="title">
        <div class="title-content fade-in">
            Hello, I'm Kenneth Wong<br>
            Web Front-end Developer
        </div>
    </div>

    <div class="card-container">
        <div class="card fade-in">
            <div style="display: flex; justify-content: center;">
                <nav>
                    <div class="navbar">
                        <div class="cat about-me active">About</div>
                        <div class="cat skills">Skills</div>
                        <div class="cat featured-works">Featured Works</div>
                        <div class="cat experience">Experience</div>
                    </div>
                </nav>
            </div>
            <div style="display: flex; justify-content: center;">
                <div class="navbar-br-line"></div>
            </div>
            
            <div class="card-content">
                <!-- about -->
                <div class="card-content-about active">
                    <div class="main-container-0">
                        <div class="kw-icon"></div>
                    </div>
                    <div class="main-container-1">
                        <p>Kenneth Wong graduated from the City University of Hong Kong with BAS degree in New Media in 2022.</p><br>
                        <p>Kenneth is dedicated to his pursuits in front-end web development and has learned various frameworks such as React and Express and implemented them into projects during his studies.</p>
                        <div class="portal">
                            <a href="https://www.linkedin.com/in/kai-fung-wong-50b7691b4/" target="_blank"><div style="float: left; margin-right: .7rem;">
                                <i class="fab fa-linkedin fa-lg"></i>
                            </div></a>
                            <a href="https://github.com/kwwong1022" target="_blank"><div style="float: left; margin-right: .7rem;">
                                <i class="fab fa-github-square fa-lg"></i>
                            </div></a>
                            <a href="/contact"><div style="float: left;">
                                <i class="fas fa-envelope-square fa-lg"></i>
                            </div></a>
                        </div>
                    </div>
                    <div class="main-container-2">
                        <div class="kw-icon"></div>
                    </div>
                </div>

                <!-- skills -->
                <div class="card-content-skills">
                    <div class="main-container-0">
                        <div style="text-align: center;">He is familiar with the following skills, frameworks and programming languages:</div>

                        <div class="skills-icon-row-0">
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-html.png" alt="">
                                <div class="icon-info">HTML5</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-css.png" alt="">
                                <div class="icon-info">CSS3</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-p5js.png" alt="">
                                <div class="icon-info">P5.js</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-node.png" alt="">
                                <div class="icon-info">Node.js</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-android-studio.png" alt="">
                                <div class="icon-info">Android</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-git.png" alt="">
                                <div class="icon-info">Git</div>
                            </div>
                        </div>
                        <!-- sm -->
                        <div class="skills-icon-row-1">
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-html.png" alt="">
                                <div class="icon-info">HTML5</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-css.png" alt="">
                                <div class="icon-info">CSS3</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-p5js.png" alt="">
                                <div class="icon-info">P5.js</div>
                            </div>
                        </div>
                        <div class="skills-icon-row-2">
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-node.png" alt="">
                                <div class="icon-info">Node.js</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-android-studio.png" alt="">
                                <div class="icon-info">Android</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-git.png" alt="">
                                <div class="icon-info">Git</div>
                            </div>
                        </div>
                    </div>
                    <div class="main-container-1">
                        <div style="text-align: center;  margin-top: 2rem;">Framework & Programming Language</div>
                        
                        <div class="skills-icon-row-0">
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-express.png" alt="">
                                <div class="icon-info">Express</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-react.png" alt="">
                                <div class="icon-info">React</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-bootstrap.png" alt="">
                                <div class="icon-info">Bootstrap</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-java.png" alt="">
                                <div class="icon-info">Java</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-js.png" alt="">
                                <div class="icon-info">Javascript</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-kotlin.png" alt="">
                                <div class="icon-info">Kotlin</div>
                            </div>
                        </div>
                        <!-- sm -->
                        <div class="skills-icon-row-1">
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-express.png" alt="">
                                <div class="icon-info">Express</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-react.png" alt="">
                                <div class="icon-info">React</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-bootstrap.png" alt="">
                                <div class="icon-info">Bootstrap</div>
                            </div>
                        </div>
                        <div class="skills-icon-row-2">
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-java.png" alt="">
                                <div class="icon-info">Java</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-js.png" alt="">
                                <div class="icon-info">Javascript</div>
                            </div>
                            <div class="icon-container">
                                <img class="icon" src="/assets/logo/icon-kotlin.png" alt="">
                                <div class="icon-info">Kotlin</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- featured works -->
                <div class="card-content-featured-works">
                    <div class="featured-container-col">
                        <div class="card-container">
                            <a id="featured-card-0" class="sub-card" href="#post-note-anchor">
                            <div class="card-img" style="height:45%; border-radius: 5px 5px 0 0;"></div>
                            <div class="card-info-container">
                                <div style="height: 20%; margin: 1rem 0 0 1rem;  color: rgba(0, 0, 0, .8);">Post Note</div>
                                <div style="height: 55%; font-size: .9rem; padding: .3rem 0 .3rem 1rem; color: rgba(0, 0, 0, .6);">A note-taking application with online edit function</div>
                                <div style="height: 30%; padding-bottom: .5rem;">
                                    <span style="font-size: .8rem; font-weight: 500; margin: 0 0 0 .7rem; 
                                padding: .13rem .7rem .2rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                border-radius: 14px">Android Studio</span>
                                </div>
                            </div>
                            </a>
                        </div>

                        <div class="card-container">
                            <a id="featured-card-1" class="sub-card" href="#velo-race-anchor">
                            <div class="card-img" style="height:45%; border-radius: 5px 5px 0 0;"></div>
                            <div class="card-info-container">
                                <div style="height: 20%; margin: 1rem 0 0 1rem;  color: rgba(0, 0, 0, .8);">Velo Race</div>
                                <div style="height: 55%; font-size: .9rem; padding: .3rem 0 .3rem 1rem; color: rgba(0, 0, 0, .6);">A bike computer application with gesture control function</div>
                                <div style="height: 30%; padding-bottom: .5rem;">
                                    <span style="font-size: .8rem; font-weight: 500; margin: 0 0 0 .7rem; 
                                padding: .13rem .7rem .2rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                border-radius: 14px">Android Studio</span>
                                </div>
                            </div>
                            </a>
                        </div>

                        <div class="card-container">
                            <a id="featured-card-2" class="sub-card" href="#et-anchor">
                            <div class="card-img" style="height:45%; border-radius: 5px 5px 0 0;"></div>
                            <div class="card-info-container">
                                <div style="height: 20%; margin: 1rem 0 0 1rem;  color: rgba(0, 0, 0, .8);">Epidemic Trend</div>
                                <div style="height: 55%; font-size: .9rem; padding: .3rem 0 .3rem 1rem; color: rgba(0, 0, 0, .6);">A website that visualize epidemic trends in the 21st century</div>
                                <div style="height: 30%; padding-bottom: .5rem;">
                                    <span style="font-size: .8rem; font-weight: 500; margin: 0 0 0 .7rem; 
                                padding: .13rem .7rem .2rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                border-radius: 14px">Web</span>
                                    <span style="font-size: .8rem; font-weight: 500; margin: 0 0 0 .2rem; 
                                padding: .13rem .7rem .2rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                border-radius: 14px">Express</span>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="featured-container-row">
                        <div style="width: 95%; height: 32%; border-radius: 5px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);">
                            <a id="featured-card-0" style="border-radius: 5px; width: 100%; height: 100%; display: flex; justify-content: space-between;" href="#post-note-anchor">
                                <div class="card-img" style="width: 40%; height: 100%; border-radius: 5px 0 0 5px;"></div>
                                <div style="width: 60%; height: 100%; border-radius: 0 5px 5px 0; background-color: rgb(255, 255, 255); display: flex; flex-direction: column; justify-content: space-between;">
                                    <div style="height: 20%; margin: .57rem 0 0 1rem;  color: rgba(0, 0, 0, .8);">Post Note</div>
                                    <div style="height: 55%; font-size: .9rem; padding: .3rem 1rem .3rem; color: rgba(0, 0, 0, .6);">A note-taking application with online edit function</div>
                                    <div style="height: 30%; padding-bottom: .5rem;">
                                        <span style="font-size: .7rem; font-weight: 500; margin: 0 0 0 .7rem; 
                                    padding: .13rem .7rem .1rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                    border-radius: 13px">Android Studio</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div style="width: 95%; height: 32%; border-radius: 5px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);">
                            <a id="featured-card-1" style="border-radius: 5px; width: 100%; height: 100%; display: flex; justify-content: space-between;" href="#velo-race-anchor">
                                <div class="card-img" style="width: 40%; height: 100%; border-radius: 5px 0 0 5px;"></div>
                                <div style="width: 60%; height: 100%; border-radius: 0 5px 5px 0; background-color: rgb(255, 255, 255); display: flex; flex-direction: column; justify-content: space-between;">
                                    <div style="height: 20%; margin: .57rem 0 0 1rem;  color: rgba(0, 0, 0, .8);">Velo Race</div>
                                    <div style="height: 55%; font-size: .9rem; padding: .3rem 1rem .3rem; color: rgba(0, 0, 0, .6);">A bike computer application with gesture control function</div>
                                    <div style="height: 30%; padding-bottom: .5rem;">
                                        <span style="font-size: .7rem; font-weight: 500; margin: 0 0 0 .7rem; 
                                    padding: .13rem .7rem .1rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                    border-radius: 13px">Android Studio</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div style="width: 95%; height: 32%; border-radius: 5px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);">
                            <a id="featured-card-2" style="border-radius: 5px; width: 100%; height: 100%; display: flex; justify-content: space-between;" href="#et-anchor">
                                <div class="card-img" style="width: 40%; height: 100%; border-radius: 5px 0 0 5px;"></div>
                                <div style="width: 60%; height: 100%; border-radius: 0 5px 5px 0; background-color: rgb(255, 255, 255); display: flex; flex-direction: column; justify-content: space-between;">
                                    <div style="height: 20%; margin: .57rem 0 0 1rem;  color: rgba(0, 0, 0, .8);">Epidemic Trend</div>
                                    <div style="height: 55%; font-size: .9rem; padding: .3rem 1rem .3rem; color: rgba(0, 0, 0, .6);">A website that visualize epidemic trends in the 21st century</div>
                                    <div style="height: 30%; padding-bottom: .5rem;">
                                        <span style="font-size: .7rem; font-weight: 500; margin: 0 0 0 .7rem; 
                                    padding: .13rem .7rem .1rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                    border-radius: 13px">Web</span>
                                        <span style="font-size: .7rem; font-weight: 500; margin: 0 0 0 .2rem; 
                                    padding: .13rem .7rem .1rem; color: rgb(255, 255, 255); background-color: rgba(95, 95, 95, 0.9); 
                                    border-radius: 13px">Express</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- experience -->
                <div class="card-content-experience">
                    <div style="width: 100%;">
                        <div style="margin: 0 0 2rem;">
                            <div style="font-size: 1.2rem; font-weight: 400; margin: 0 0 .5rem;">Education</div>
                            <div style="font-size: 16px; font-weight: 400; margin: 0 0 .2rem;">City University of Hong Kong, Bachelor of Arts and Science in New Media (BAS)</div>
                            <div style="font-size: 14px; font-weight: 400; margin: 0 0 .2rem;">Sep 2020 — Present, Hong Kong &nbsp <span style="font-size: 14px; font-weight: 400; color: rgba(0, 0, 0, .6);">with awarded dean's list</span></div>

                        </div>
                        
                        <div>
                            <div style="font-size: 1.2rem; font-weight: 400; margin: 0 0 1rem;">Project</div>
                            <!-- full -->
                            <div class="experience-content-full"><!-- /works/ggj-2021 -->
                                <a id="experience-card-0" href="https://globalgamejam.org/2021/games/discover-undiscovered-6" target="_blank" style="width: 49%; height: 120px; border-radius: 5px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); display: flex; justify-content: space-between;">
                                    <div class="card-img" style="border-radius: 5px 0 0 5px;"></div>
                                    <div class="card-info">
                                        <!-- https://globalgamejam.org/2021/games/discover-undiscovered-6 -->
                                        <!-- https://voil321.github.io/DiscoverTheUndiscovered/WebGL/index.html -->
                                        <div style="font-size: 16px; font-weight: 400; margin: 0 0 .2rem;">Global Game Jam</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .4rem; color:rgba(0, 0, 0, .6)">Jan 2021</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .2rem;">Graphic design, illustrator</div>
                                    </div>
                                </a>
                                <a id="experience-card-1" href="https://www.kickstarter.com/projects/binarytreestudio/dungeon-siege" target="_blank" style="width: 49%; height: 120px; border-radius: 5px; box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); display: flex; justify-content: space-between;">
                                    <div class="card-img" style="border-radius: 5px 0 0 5px;"></div>
                                    <div class="card-info">
                                        <div style="font-size: 16px; font-weight: 400; margin: 0 0 .2rem;">Siege of Dungeon</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .4rem; color:rgba(0, 0, 0, .6)">Feb 2021 — Apr 2021</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .2rem;">UI/UX design</div>
                                    </div>
                                </a>
                            </div>
                            <!-- sm -->
                            <div class="experience-content-half">
                                <a id="experience-card-0" href="https://globalgamejam.org/2021/games/discover-undiscovered-6" target="_blank">
                                    <div class="card-img" style="border-radius: 5px 5px 0 0;"></div>
                                    <div class="card-info" style="border-radius: 0 0 5px 5px;">
                                        <div style="font-size: 16px; font-weight: 400; margin: 0 0 .2rem;">Global Game Jam</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .4rem; color:rgba(0, 0, 0, .6)">Jan 2021</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .2rem;">Graphic design, illustrator</div>
                                    </div>
                                </a>
                                <a id="experience-card-1" href="https://www.kickstarter.com/projects/binarytreestudio/dungeon-siege" target="_blank">
                                    <div class="card-img" style="border-radius: 5px 5px 0 0;"></div>
                                    <div class="card-info" style="border-radius: 0 0 5px 5px;">
                                        <div style="font-size: 16px; font-weight: 400; margin: 0 0 .2rem;">Siege of Dungeon</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .4rem; color:rgba(0, 0, 0, .6)">Feb 2021 — Apr 2021</div>
                                        <div style="font-size: 14px; font-weight: 400; margin: 0 0 .2rem;">UI/UX design</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>