<div class="section filter">
    <div class="section-content constraint">
        <div class="filter fade-in">
            <div class="cat-item all">All</div>
            <div class="cat-item mobile-app">Mobile App</div>
            <div class="cat-item website">Website</div>
            <div class="cat-item graphic">Graphic</div>
            <div class="cat-item creative-coding">Creative Coding</div>
            <div class="cat-item 3d-modelling">3D Modelling</div>
            <div class="cat-item drawing">Drawing</div>
            <div class="cat-item arduino">Arduino</div>
            <div class="cat-item tool">Tool</div>
        </div>
        <div class="line-break" style="border-bottom: rgba(0, 0, 0, .05) solid 1px;"></div>
    </div>
</div>