<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let rootDir = './' %>
    <%- include(rootDir + 'partials/head.ejs') %>
    <link rel="stylesheet" href="/components/home/home.css">
    <title>Kenneth Wong - About</title>
</head>

<body>
    <!-- navbar -->
    <div id="curr-page"><%= page %></div>
    <%- include(rootDir + 'partials/navbar.ejs') %>



    <!-- footer -->
    <%- include(rootDir + 'partials/footer.ejs') %>

    <!-- script -->
    <!-- <script src= "./components/common/style.js"></script> -->
</body>
</html>