<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let rootDir = './' %>
    <%- include(rootDir + 'partials/head.ejs') %>
    <link rel="stylesheet" href="/components/blog/blog.css">
    <link rel="stylesheet" href="/components/blog/blog-post.css">
    <!-- <link rel="stylesheet" href="/components/common/walker-background-sketch.css"> -->
    <title>"blog-post-name" | Kenneth Wong</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TK4X3ZR"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- navbar -->
    <%- include(rootDir + 'partials/navbar.ejs') %>

    <!-- banner sketch here: -->
    <!-- <div id="blog-banner-sketch" class="sketch fade-in" style="width: 100%; height: 230px"></div> -->
    
    

    <!-- footer -->
    <%- include(rootDir + 'partials/footer.ejs') %>

    <!-- script -->
    <!-- <script src= "./components/blog/blog-banner-sketch.js"></script> -->
</body>
</html>