<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let rootDir = './' %>
    <%- include(rootDir + 'partials/head.ejs') %>
    <link rel="stylesheet" href="/components/contact/contact.css">
    <link rel="stylesheet" href="/components/common/walker-background-sketch.css">
    <title>Contact | Kenneth Wong</title>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TK4X3ZR"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!-- navbar -->
    <div id="curr-page"><%= page %></div>
    <%- include(rootDir + 'partials/navbar.ejs') %>

    <!-- background -->
    <div id="walker-background-sketch" class="sketch fade-in"></div>

    <!-- contact -->
    <div class="section contact">
        <div class="section-content">
            <div class="card">
                <div class="title fade-in">Contact</div>
                <div class="info fade-in" style="text-align: center;">
                    <div>Tel: +852 9347 8968</div>
                    <div>Email: kaifwong1022@gmail.com</div>
                </div>
                <div class="portals fade-in">
                    <a href="https://www.linkedin.com/in/kai-fung-wong-50b7691b4/" target="_blank">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>&nbsp&nbsp&nbsp
                    <a href="https://github.com/kwwong1022" target="_blank">
                        <i class="fab fa-github-square fa-lg"></i>
                    </a>&nbsp&nbsp&nbsp
                    <a href="mailto:kaifwong1022@gmail.com">
                        <i class="fas fa-envelope-square fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include(rootDir + 'partials/footer.ejs') %>

    <!-- script -->
    <script src= "./components/common/walker-background-sketch.js"></script>
</body>
</html>