.blog-content .filter {
    margin: 1rem 0 0;
    padding: 0 1rem 0 0;
}

.blog-content .filter {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .8);
    display: flex;
    overflow-x: scroll;
    padding: 0 .3rem;
}
.blog-content .filter::-webkit-scrollbar {
    display: none;
}
.blog-content .filter .cat-item {
    cursor: pointer;
    color: rgba(0, 0, 0, .6);
    margin: .5rem .3rem 1.2rem 0;
    padding: .2rem .7rem .1rem;
    font-size: .9rem;
    border-radius: 1rem; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}
.blog-content .filter .cat-item:hover {
    background-color: rgba(0, 0, 0, .02);
    transition: all 50ms ease;
}
.blog-content .filter .cat-item.active {
    border:none;
    border:rgb(0, 0, 0, .3) 1px solid;
    transition: all 100ms ease;
}

/* grid @works-showcase.css */

@media (max-width: 576px) {
    .blog-content .filter {
        padding: 0 0 0 1rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .blog-content .filter {
        padding: 0 0 0 1rem;
    }
}