<div class="cms-content filter" style="padding: 2rem 1.5rem;">
    <form>
        <div class="scrollable-x" style="display: flex;">
            <div class="input">
                <input type="text" name="username" id="username" placeholder="User name" required>
            </div>
            <div class="input">
                <input type="text" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="input">
                <select name="role" id="role" placeholder="Please select" required>
                    <option value="Admin">Admin</option>
                </select>
            </div>
            <div class="input">
                <input type="email" name="email" id="email" placeholder="email">
            </div>
        </div>
        
        <div style="display: flex; margin-top: 1.7rem;">
            <div class="button" onclick="createUser()"><span>Create user</span></div>
        </div>
    </form>
</div>

<div class="cms-content list" style="padding: 1rem 1.5rem 2rem;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 1rem 0 1.5rem;">
        <div style="font-weight: 450;">User List</div>
        <div class="button" onclick="fetchUser()"><span>Fetch user</span></div>
    </div>
    <div class="scrollable-x" style="width: 100%; max-width: 100%; display: flex;">
        <table style="width: 100%;">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Creation Time</th>
                <th>Modification Time</th>
            </tr>
        </table>
    </div>
</div>