<div class="form-wrapper" style="padding: 2rem 1.5rem;">
    <form style="font-size: .95rem;">
        <div class="scrollable-x" style="display: flex; flex-direction: column; width: 100%; margin-bottom: 1.5rem;">
            <div>Status</div>
            <div class="input" style="width: 100%; margin-top: .5rem;">
                <select name="status" id="status" placeholder="Please select" required>
                    <option value="Draft">Draft</option>
                    <option value="Published">Published</option>
                    <option value="Unpublished">Un-published</option>
                </select>
            </div>
        </div>

        <div class="scrollable-x" style="display: flex; flex-direction: column; width: 100%; margin-bottom: 1.5rem;">
            <div>Type</div>
            <div class="input" style="width: 100%; margin-top: .5rem;">
                <select name="type" id="type" placeholder="Please select" required>
                    <option value="Study">Study</option>
                    <option value="Tutorial">Tutorial</option>
                    <option value="Work">Work</option>
                    <option value="Document">Document</option>
                </select>
            </div>
        </div>
        
        <div class="scrollable-x" style="display: flex; flex-direction: column; width: 100%; margin-bottom: 1.5rem;">
            <div>Title</div>
            <div class="input" style="width: 100%; margin-top: .5rem;">
                <input type="text" name="title" id="title" placeholder="Please enter" required>
            </div>
        </div>

        <div class="scrollable-x" style="display: flex; flex-direction: column; width: 100%; margin-bottom: 1.5rem;">
            <div>Description</div>
            <div class="input" style="width: 100%; margin-top: .5rem;">
                <input type="text" name="description" id="description" placeholder="Please enter">
            </div>
        </div>

        <div class="scrollable-x" style="display: flex; flex-direction: column; width: 100%; margin-bottom: .5rem;">
            <div>Tags</div>
            <div style="display: flex; align-items: center; width: 100%;">
                <div class="input" style="margin-bottom: .4rem; width: auto; display: flex; flex-direction: row; justify-content: left; align-items: center; width: fit-content; margin-top: .5rem;">
                    <input type="text" name="tag" id="tag" placeholder="Please enter">
                </div>
                <div class="button tag" style="padding: 0.5rem 1.5rem 0.55rem; margin-right: 1rem;"><span>Add</span></div>
            </div>
        </div>
        <div class="tag-list scrollable-x" style="width: 100%; max-width: 100%; display: flex; margin-bottom: 1.5rem;"></div>

        <div class="content-container" style="margin-bottom: 1.5rem;">
            <!-- <div class="content-block">
                <div class="content-info">
                    <span>Content block #1</span>
                    <div class="menu">
                        <select id="type">
                            <option value="text">text</option>
                            <option value="image">image</option>
                            <option value="code">code</option>
                            <option value="html">html</option>
                            <option value="p5">p5</option>
                        </select>
                        <i class="fas fa-times btn-close-menu"></i>
                    </div>
                </div>
    
                <textarea></textarea>

                <div class="scrollable-x sketch-setting">
                    <label>Width:</label>
                    <input type="number" id="sketch-width" value="-1">
                    <label>Height:</label>
                    <input type="number" id="sketch-height" value="400">
                </div>
            </div> -->

            <!-- <div id="code-testing" style="width: 400px; height: 300px"></div> -->
        </div>

        <div class="button new-content-block" style="margin-bottom: 1.5rem; width: 100%; display: flex; justify-content: center;"><span>Create new content block</span></div>
        
        <div style="display: flex; margin-top: 2.5rem;">
            <div class="button" style="padding: 0.5rem 1.5rem 0.55rem; margin-right: 1rem;" onclick="createBlogPost()"><span>Submit</span></div>
        </div>
    </form>
</div>