<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let rootDir = '../' %>
    <%- include(rootDir + 'partials/head.ejs') %>
    <link rel="stylesheet" href="/components/cms/cms.css">
    <title>CMS Admin | Kenneth Wong</title>
</head>

<body>
    <!-- topbar -->
    <div class="topbar">
        <div class="title-section" style="display: flex; align-items: center;">
            <div class="toggler">
                <i class="fas fa-bars btn-show-menu" style="color: rgb(255, 255, 255);"></i>
                <i class="fas fa-times btn-close-menu disabled" style="color: rgb(255, 255, 255);"></i>
            </div>
            <span class="title">Kwwdev CMS Admin</span>
        </div>
        <div class="user">
            <div class="icon"></div>
            <div class="username"><%= username %></div>
        </div>
    </div>

    <!-- main content -->
    <div class="content-wrapper">
        <!-- navbar -->
        <nav>
            <ul>
                <li class="nav-item user current">
                    <i class="fa-light fa-user"></i>
                    <span>User</span>
                </li>
                <li class="nav-item blog-post">
                    <i class="fa-light fa-user"></i>
                    <span>Blog Post</span>
                </li>
            </ul>
        </nav>

        <div class="main-content">
            <div class="curr-content-title" style="position: sticky; top: 0px;">User</div>

            <div class="cms-content-wrapper">
                <!-- user -->
                <div class="cms-section user current">
                    <%- include(rootDir + 'cms/cms-user.ejs') %>
                </div>
                
                <!-- blog post -->
                <div class="cms-section blog">
                    <%- include(rootDir + 'cms/cms-blog-post.ejs') %>
                </div>
            </div>
        </div>
    </div>

    <!-- script -->

</body>
</html>