<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% let rootDir = '../' %>
    <%- include(rootDir + 'partials/head.ejs') %>
    <link rel="stylesheet" href="/components/cms/cms.css">
    <title>CMS Admin | Kenneth Wong</title>
</head>

<body>
    <!-- topbar -->
    <div class="topbar">
        <div class="title">Kwwdev CMS Admin</div>
        <div class="user">
            <div class="icon"></div>
            <div class="username"><%= username %></div>
        </div>
    </div>

    <!-- main content -->
    <div class="content-wrapper">
        <!-- navbar -->
        <nav>
            <ul>
                <li>
                    <i class="fa-light fa-user"></i>
                    <span>User</span>
                </li>
                <li>
                    <i class="fa-light fa-user"></i>
                    <span>Blog Post</span>
                </li>
            </ul>
        </nav>

        <div class="main-content">
            <div class="curr-content-title" style="position: sticky; top: 0px;">User</div>

            <div class="cms-content-wrapper">
                <!-- user -->
                <%- include(rootDir + 'cms/cms-user.ejs') %>
                <!-- blog post -->

            </div>
        </div>
    </div>

    <!-- script -->

</body>
</html>